[client]
host=127.0.0.1
user=root
password="root"

[mysql]
host=127.0.0.1
user=root
password="root"

[mysqldump]
host=127.0.0.1
user=root
password="root"

[mysqldiff]
host=127.0.0.1
user=root
password="root"